body {
    background-color: lightgrey;
    box-sizing: border-box;
    /*    font-family: sans-serif;*/
}

.top {
    background-color: red;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
}

.highlight {
    background-color: yellow;
}

.bottom {
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    text-align: justify;
    display: block;
    height: auto;
}

.top,
.bottom {
    text-align: center;
    margin: auto;
    width: 350px;
    padding: 20px;
}


